.navbar{
    position: relative;
    z-index: auto;
}

.navbar img{
    width: 150px;
    animation-name: anima ;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    animation-duration: 2s;
}

@keyframes anima{
    10% {
        transform: scaleY(0.8);
    }
    25%, 26% {
        transform: translateY(-24px) scaleY(1.001);
    }
    35% {
        transform: translateY(0) scaleY(0.999);
    }
    50% {
        transform: scaleY(0.9);
    }
    70% {
        tranform: scaleY(1);
    }   
}
.nav-item{
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    height: auto;
}
